@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');


/* shared style  */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    outline: none;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25ren;
    font-weight: 600;
    cursor: pointer;
}

.text-gray{
    color:  #727272;
    line-height: 1.5rem;
}


/* header style  */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 10%;
}

nav{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color:#131313;
    font-size:2.8rem;
    font-weight: 700;
}

nav>ul{
    display: flex;
}

nav>ul>li{
    list-style: none;
    /* text-decoration: none; */
    margin-right:30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}


/* banner section  */
.banner>div{
    margin-top: 50px;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    color:  #131313;
    font-weight: 700;
}



.banner>div>img{
    width: 100%;
}


/* main style  */
main{
    padding: 50px 10%;
    margin: 0 auto;
}

.teams-container{
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.teams-img-container{
    width: 48%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(2,1fr); */
}

.teams-img-container img{
    width: 100%;
}

.teams-content{
    width: 48%;
    padding: 1rem;
}

.teams-title{
    font-size: 2.8rem;
    /* font-weight: 700; */
}

.teams-title-one{
    color:#727272;
    font-weight: 500;
}
.teams-title-two{
    color:#131313;
    font-weight: 700;
}
.teams-title-three{
    color: #FF900E;
    font-weight: 700;
}


/* responsive style small screen */
@media screen and (max-width:576px) {
    /* header style  */
    header{
        padding: 10px 10%;
    }

    nav,nav>ul{
        flex-direction: column;
    }
    nav>ul>li{
        margin-top: 5px;
    }

    .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .teams-content{
        width: 90%;
        /* padding: 1rem; */
    }
}

/* responsive style medium screen */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 20px 10%;
    }
    nav, .teams-container{
        flex-direction: column;
    }

    .teams-img-container, .teams-content{
        width: 90%;
        
    }
    
   
}
